<footer class="bg-body-tertiary text-center">
  <!-- Grid container -->
  <div class="py-2">
    <!-- Section: Social media -->
    <section>
      <!-- Facebook -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998"
        href="https://www.facebook.com/rogerio.teles.9/?locale=pt_BR"
        target="_blank"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <!-- Google -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #dd4b39"
        href="mailto:rtbrollo@gmail.com"
        target="_blank"
        ><i class="fab fa-google"></i
      ></a>
      <!-- Instagram -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac"
        href="https://www.instagram.com/telesbrollo/"
        target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca"
        href="https://www.linkedin.com/in/rogerio-teles-6756a4212/"
        target="_blank"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #333333"
        href="https://github.com/rbrollo"
        target="_blank"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center py-3" style="background-color: rgba(0, 0, 0, 0.05)">
    <img
      src="../../../assets/logoColor.png"
      alt="logo Rbrollo Software"
      width="50"
      height="50"
    />
    <a
      class="hover-link text-decoration-none fs-5 text-black fw-bold"
      href="https://rogeriobrollo.vercel.app/"
      target="_blank"
      >Rbrollo Software</a
    >
  </div>
  <!-- Copyright -->
</footer>
