<section class="container m-auto vh50 about">
  <h2 class="fs-2">About me</h2>
  <p class="fs-5">
    Hello! My name is Rogério Brollo, and I am from Recife-PE, Brazil.
    Currently, I work as a QA, performing both manual and automated tests with
    Cypress. I am also a fullstack developer, with strong proficiency in PHP
    (Laravel framework) and Vue.js. I have experience with React and am
    currently working on a project in Angular to deepen my understanding of the
    tool. In the frontend context, I use Bootstrap and Tailwind as CSS
    frameworks. Additionally, I have knowledge of jQuery. On the backend, I have
    experience with Python (Django framework) and am studying C# with .NET. I am
    also capable of handling SQL databases. I have a degree in Systems Analysis
    and Development. I am always looking for learning opportunities and new
    challenges in the field of software development.
  </p>

  <p>
    <a
      title="Github on this SPA"
      data-mdb-ripple-init
      class="btn text-white btn-floating m-1"
      style="background-color: #333333"
      href="https://github.com/rbrollo/RickMortyAngula"
      target="_blank"
      role="button"
      ><i class="fab fa-github"></i
    ></a>
  </p>
</section>
